.App {
  text-align: center;
}

.App-header {
  background: linear-gradient(hotpink, orange, yellow);
  min-height: 70px;
  padding: 20px;
  color: white;
  margin-bottom: 20px;
}

.App-title {
  font-size: 2em;
}

.App-intro {
  font-size: large;
}

h4 {
  font-style: italic;
}


.goose {
  margin: 5px;
  width: 250px;
}

button {
  width: 150px;
  height: 50px;
}

input {
  width: 200px;
  height: 44px;
}