.App {
  text-align: center;
}

.App-header {
  background: linear-gradient(hotpink, orange, yellow);
  min-height: 70px;
  padding: 20px;
  color: white;
  margin-bottom: 20px;
}

.App-title {
  font-size: 2em;
}

.App-intro {
  font-size: large;
}

h4 {
  font-style: italic;
}

body {
  background-color: rgb(255, 171, 207);
}

.goose {
  margin-top: 20px;
  width: 300px;

}